{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="col-sm-12">
            <h1>M2M Connect Home</h1>
            <a href="{{ messages_link }}">Download Messages</a>
        </div>
    </div>
{% endblock %}
